<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>


  </head>

  <body>
    <nav class="teal lighten-2">
      <div class="nav-wrapper" style="padding: 0 10%;">
        <a href="/" class="brand-logo">Blog</a>
        <% if user_signed_in? %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              <%= simple_format(current_user.email, :style=>"height: 64px; line-height: 64px; margin: 0 20px 0 0;") %>
            </li>
            <li>
              <%= link_to 'SignIn', "/users/sign_in", method: :get %>
            </li>
            <li>
              <%= link_to 'Sign0ut', "/users/sign_out", method: :delete %>
            </li>
            <li>
              <%= link_to 'New', "/articles/new", method: :get %>
            </li>
          </ul>
        <% else %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              <%= link_to 'SignIn', "/users/sign_in", method: :get %>
            </li>
            <li>
              <%= link_to 'Sign0ut', "/users/sign_out", method: :delete %>
            </li>
            <li>
              <%= link_to 'New', "/articles/new", method: :get %>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
